body {
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    color: rgb(12, 12, 12);
    margin: 10px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.gallery {
    margin: 5px;
    height: 100%;
    width: 100%;

}

.image_block {

    position: relative;
    display: inline-block;
    width: calc(96vw/5);
    height: calc(98vh/4);
}

.image_block img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
}


.hover_box {
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 53, 53, 0.6);
    color: #fff;
    text-align: center;

}

.hover_text {
    margin-top: 15px;
    color: white;
}

.image_block:hover .hover_box {
    opacity: 1;
    outline: 1px solid white;
    outline-offset: -10px;
}

.image_block:hover img {
    filter: grayscale(60%);
    transform: scale(1.02);
}


.prev_img {
    width: 50%;
    height: auto;
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
}

.prev_img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

.prev_table {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.prev_text {
    word-break: break-all;
    vertical-align: top;
    text-align: left;
    font-size: 2vh;
}

.prev_block {

    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;

}


.prev_block .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.prev_text {
    width: 50%;
}

.prev_block>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    width: 50vw;
    height: 50vh;
    max-width: 50vw;
    min-height: 50vh;
    vertical-align: middle;
    position: relative;
    border-radius: 8px;
    padding: 15px;

}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}