<html>

<head>
    <title>My Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Add  js and css -->
    <script type="text/javascript" src="/static/script.js"></script>
    <!-- <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/script.js') }}" ></script> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"> -->

</head>

<body>

    <h1>My Gallery</h1>

    <div class="gallery">

        <div class="image_block">
            <a onclick="show_perview('1.jpg','Backgound 1','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/1.jpg " />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 1
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('2.jpg','Backgound 2','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/2.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 2
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('3.jpg','Backgound 3','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/3.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 3
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('4.jpg','Backgound 4','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/4.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 4
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('5.jpg','Backgound 5','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/5.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 5
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('6.jpg','Backgound 6','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/6.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 6
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('7.jpg','Backgound 7','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/7.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 7
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('8.jpg','Backgound 8','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/8.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 8
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('9.jpg','Backgound 9','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/9.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 9
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('10.jpg','Backgound 10','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/10.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 10
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('11.jpg','Backgound 11','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/11.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 11
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('12.jpg','Backgound 12','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/12.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 12
                    </p>
                </div>
            </a>
        </div>
        <div class="image_block">
            <a onclick="show_perview('13.jpg','Backgound 13','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/13.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 13
                    </p>
                </div>
            </a>
        </div>
        <div class="image_block">
            <a onclick="show_perview('14.jpg','Backgound 14','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/14.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 14
                    </p>
                </div>
            </a>
        </div>
        <div class="image_block">
            <a onclick="show_perview('15.jpg','Backgound 15','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/15.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 15
                    </p>
                </div>
            </a>
        </div>
        <div class="image_block">
            <a onclick="show_perview('16.jpg','Backgound 16','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/16.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 16
                    </p>
                </div>
            </a>
        </div>


        <div class="image_block">
            <a onclick="show_perview('17.jpg','Backgound 17','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/17.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 17
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('18.jpg','Backgound 18','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/18.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 18
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('19.jpg','Backgound 19','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/19.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 19
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('20.jpg','Backgound 20','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/20.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 20
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('21.jpg','Backgound 21','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/21.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 21
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('22.jpg','Backgound 22','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/22.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 22
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('23.jpg','Backgound 23','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/23.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 23
                    </p>
                </div>
            </a>
        </div>


        <div class="image_block">
            <a onclick="show_perview('24.jpg','Backgound 24','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/24.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 24
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('25.jpg','Backgound 25','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/25.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 25
                    </p>
                </div>
            </a>
        </div>

        <div class="image_block">
            <a onclick="show_perview('26.jpg','Backgound 26','Information about this photo')" href="#preview">
                <img calss="image_box" src="/static/images/26.jpg" />
                <div class="hover_box">
                    <p class="hover_text">
                        Backgound 26
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div id="preview" class="prev_block">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton" onclick="hide_perview()">&times;</div>

            <div class="prev_table">
                <div class="prev_img">
                    <img id="Image" />
                </div>
                <div class="prev_text">
                    <h2 id="title"></h2>
                    <div id="text"> </div>
                </div>
            </div>

        </div>
    </div>
    </div>