<html>

<head>
  <title>My Chat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Add  js and css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style_login.css">


</head>

<body>


  <div class="form-style">
    <h2>Sign up to ChatBot</h2>

    <form method="POST" action="/login">

      <i class="fa fa-user icon"> </i>
      <input type="text" name="username" placeholder="Your Name" />

      <i class="fa fa-envelope icon"> </i>
      <input type="email" name="email" placeholder="Your Email" />



      <i class="fa fa-key icon"> </i>
      <input type="password" name="password" placeholder="Password" />

      <i class="fa fa-key icon"> </i>
      <input type="password" name="field3" placeholder="Repeat Password" />

      {% for message in get_flashed_messages() %}
      <p class="error">{{ message }}</p>
      {% endfor %}

      <input type="submit" value="Register" />

      
    </form>
  </div>